@import "tailwindcss";

body {
  background-image: url("./assets/dr-bs-1.JPEG");
  background-size: cover;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keeps the image fixed while scrolling */
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  overflow-x: hidden;
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

.rubik {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@theme {
  --color-Primary: #fff500;
}
