@import "tailwindcss";

body {
  overflow-x: hidden;
  font-family: "Patrick Hand", cursive;
}

@media (max-width: 768px) {
}

.patrick-hand-regular {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;
  font-style: normal;
}

.rubik {
  font-family: "Rubik Doodle Shadow", system-ui;
  font-weight: 400;
  font-style: normal;
}

.font-raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@theme {
  --color-Primary: #fff500;
}
